/* CSS for Flex  */

.Flex {
  display: flex;
  gap: $size-space-small;
  &--direction {
    &--row {
      flex-direction: row;
    };
    &--column {
      flex-direction: column;
    };
  };
  &--gap{
    &--tiny {
      gap: $size-space-tiny
    }
    &--small {
      gap: $size-space-small
    }
    &--medium {
      gap: $size-space-medium
    }
    &--large {
      gap: $size-space-large
    }
    &--xl {
      gap: $size-space-xl
    }
    &--xxl {
      gap: $size-space-xxl
    }
  };
  &--justify-content{
    &--center {
      justify-content: center
    };
    &--start {
      justify-content: start
    };
    &--end {
      justify-content: end
    };
    &--flex-start {
      justify-content: flex-start
    };
    &--flex-end {
      justify-content: flex-end
    };
    &--left {
      justify-content: left
    };
    &--right {
      justify-content: right
    };
    &--normal {
      justify-content: normal;
    };
    &--space-between {
      justify-content: space-between;
    };
    &--space-around {
      justify-content: space-around;
    };
    &--space-evenly {
      justify-content: space-evenly;
    };
    &--stretch {
      justify-content: stretch;
    };
  };
  &--align-items{
    &--normal {
      align-items: normal;
    };
    &--stretch {
      align-items: stretch;
    };
    &--center {
      align-items: center;
    };
    &--start {
      align-items: start;
    };
    &--end {
      align-items: end;
    };
    &--flex-start {
      align-items: flex-start;
    };
    &--flex-end {
      align-items: flex-end;
    };
    &--self-start {
      align-items: self-start;
    };
    &--self-end {
      align-items: self-end;
    };
  };
};