/* CSS for Link  */

.Link {
  text-decoration: none;
  &--inverse-base{
    color: $color-font-inverse-base;
  }
  &--base{
    color: $color-font-link-base;
  }
  &--primary{
    color: $color-font-link-primary;
  }
  &--secondary{
    color: $color-font-link-secondary;
  }
}
